.button{
    text-transform: uppercase;
    cursor:pointer;
    transition: opacity 0.3s;
    font-weight:600;
    letter-spacing:3px;
}

.buttonSmall{
    padding: 12px 30px;
    font-size:12px;
}


.buttonLarge{
    padding: 16px 80px;
    font-size:16px;
}


.button:hover{
    opacity:0.85;
}